<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard - Sistema de Ventas</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex h-screen bg-gray-100">
<!-- Sidebar -->
<aside class="w-64 bg-gray-800 text-white flex flex-col py-6 px-4">
	<h2 class="text-xl font-bold mb-6 text-center">Sistema de Ventas</h2>
	<nav class="space-y-2">
		<a href="/dashboard" class="block hover:bg-gray-700 p-2 rounded">🏠 Inicio</a>
		<a th:href="@{/clientes}" class="block hover:bg-gray-700 p-2 rounded">👥 Clientes</a>
		<a th:href="@{/productos}" class="block hover:bg-gray-700 p-2 rounded"  sec:authorize="hasRole('ADMIN')">📦 Productos</a>
		<a th:href="@{/ventas}" class="block hover:bg-gray-700 p-2 rounded">💰 Ventas</a>
		<a href="/reportes" class="block hover:bg-gray-700 p-2 rounded"  sec:authorize="hasRole('ADMIN')" >📊 Reportes</a>
		<a th:href="@{/admin/gestionUsuario/nuevo}" class="block hover:bg-gray-700 p-2 rounded" sec:authorize="hasRole('ADMIN')">🔐 Gestionar Usuarios</a>
		<a th:href="@{/logout}" class="block text-red-400 hover:text-red-200 p-2 rounded">🚪 Cerrar Sesión</a>
	</nav>
</aside>

<!-- Contenido principal -->

<!--Cambios realizados -->
<main class="flex-1 flex flex-col items-center justify-center">
	<h1 class="text-3xl font-bold mb-4 fs-2 text-primary">¡Bienvenido, <span th:text="${#authentication.name}">Usuario</span>!</h1><!--Se agrego cambios al mensaje de bienvenida-->
	<p class="text-gray-600 fs-3 text-danger">Selecciona una opción del menú para comenzar.</p><!--Se agrego cambios al mensaje de seleccion-->
</main>
</body>
</html>